name: Build Debug APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - run: flutter pub get
      # Agar project structure incomplete hai, toh ye command usse fix karegi
      - run: flutter create . --platforms android
      - run: flutter build apk --debug
      - uses: actions/upload-artifact@v3
        with:
          name: kist-app
          path: build/app/outputs/flutter-apk/app-debug.apk
