name: Build Android APK

on:
  push:
    branches:
      - main  # Jab bhi aap main branch par push karenge, APK banna shuru ho jayega

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.13.0'

      - name: Install dependencies
        run: flutter pub get

      - name: Build APK
        run: flutter build apk --debug # Debug APK jaldi banta hai test karne ke liye

      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: kist-sambhalo-app
          path: build/app/outputs/flutter-apk/app-debug.apk
