name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - run: |
          flutter create --overwrite .
          flutter build apk --debug
      - uses: actions/upload-artifact@v3
        with:
          name: kist-apk
          path: build/app/outputs/flutter-apk/app-debug.apk
